/* add css module styles here (optional) */

.flex {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexCol {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flexNone {
  flex: 0 0 auto;
}
